<div class="mainsec">
{{!-- <img class="memeenstein" src={{memeenstein}} alt=""> --}}
<div>
<h1 class="title">{{title}}<img class="memeicon" src={{icon}} alt=""></h1>
<div class="subtitle">{{subtitle}}</div>


<form action="/upload" method="post" 
enctype="multipart/form-data">
  <input class="inputstyle" type="file" name="fileUpload" accept="image/gif, image/jpeg, image/jpg, image/png"/>
  
    <button class="uploadbutton" type="submit">upload</button>
</form>
</div>

    
</div>

